# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*.backup
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc